[submodule "backend"]
	path = backend
	url = git@github.com:woragis/computer-advanced-topics-backend.git
[submodule "ai"]
	path = ai
	url = git@github.com:woragis/computer-advanced-topics-ai.git
[submodule "logging-worker"]
	path = logging-worker
	url = git@github.com:woragis/computer-advanced-topics-logging-worker.git
